body{
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;  
	transition: background-color 0.5s linear;
}
.circle{
	-webkit-box-shadow: 6px 3px 35px -8px rgba(0,0,0,.7);
	box-shadow: 6px 15px 25px -10px rgba(0,0,0,.7);
	display: flex;
	margin-left: 20px;
	margin-top: 35px;
	border: 1px solid #999;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	width: 100px;
	height: 100px;
	background-color: #f8f8f8;
	color: #555;
	font-weight: bold;
	border-radius: 50%;
	transition: .7s ease
}
.circle:hover{
	transform: scale(1.5);
}



